<!--
including header content which is common for all pages
-->
<%- include ('layouts/header.ejs') %>	

        <!-- register, login and cart  -->
	        <div class="col-4 right mt-1">
	        	<!-- register btn -->
	        	<button class="headbutton1 mr-1" type="button" onclick="location.href='/register'">
	        		REGISTER
	        	</button>
	        	<!-- Login btn -->
	        	<button id="loginbtn" class="headbutton2 mr-1" type="button" onclick ="location.href='/login'"> 
	        		LOGIN
                </button>
                <!-- Logout btn 
                <button id="logoutbtn" class="headbutton1 mr-1" type="button" onclick="location.href='/logout'">
	        		LOGOUT
                </button> -->
	        	
	        </div>
	        
<!--
including footer content which is common for all pages
-->
<%- include ('layouts/footer.ejs') %>